@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #230101;
    --secondary-color: whitesmoke;
    --accent1-color: #3BDE6C;
    --accent2-color: #da883c;

    --heading-font: 'Noto Sans', serif;
    --paragraph-font: 'Poppins', serif;

    --nav-background-color: #da883c;
    --nav-link-color: #000000;
    --nav-hover-link-color: #3BDE6C;
    --nav-hover-background-color: #230101;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var( --paragraph-font);
    width: auto;
    padding: 20px;
}

header {
    padding: 30px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: var(--accent1-color);
    margin: 1rem auto 0;
    display: grid;
    grid-template-columns: 220px 1fr 2fr;
    align-items: center;
}

header img {
    width: 220px;
    height: 220px;
}

header nav {
    text-align: center;
    background-color: var(--nav-background-color);
    grid-column: 3/4;
}

ul {
    display: flex;
    list-style: none;
    align-items: stretch;
}

ul li {
    flex: 1 1 100%;
}

nav ul li a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    display: block;
    left: 27.5%;
    right: 27.5%;
    width: 45%;
    height: auto;
    text-align: center;
    background-color: #DE3C4B;
}

article img {
    position: absolute;
    float: right;
    top: 35%;
    max-width: 25%;
    height: 70%;
    right: 5%;
} 

article p {
    position: absolute;
    float: left;
    top: 35%;
    left: 5%;
    max-width: 57%;
    height: 53%;
    padding-inline: 1.5%;
    color: white;
    border: 1px solid #230101;
    background: #230101;
    opacity: 0.7;
    font-size: 13px;
}

.history {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;  
    color: white;  
    grid-column-gap: 3%;
}

.history h2 {
    grid-column: 1/4;
    color: white;
    margin-bottom: 20px;
}

.right {
    grid-column-start: 1;
}

.history img {
    grid-column-start: 2;
}

.left {
    grid-column-start: 3;
}

.adventure {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-column-gap: 1.5%;
}

.adventure h2 {
    grid-column: 1/6;
    margin-bottom: 20px;
}

.adventure figure img {
    width: 170px;
    height: 170px;
}

section {
    margin: 1.5rem auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
}

.contact {
    margin-top: 10px;
    margin-bottom: 0;
    grid-template-columns: auto auto;
    grid-column-gap: 1.5%;
    justify-items: center;
    border-bottom: solid 2px black;
}

.addresses{
    grid-column-start: 1;
    line-height: 80px;
}

.contact iframe {
    grid-column-start: 2;
}

.instructors {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 70px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 1.5%;
    grid-row-gap: 15%;
    justify-items: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.instructors h2 {
    grid-column: 1/4;
}

.instructors figure {
    align-items: center;
    justify-items: center;
}

.instructors img {
    width: 125px;
    height: 125px;
}

.user {
    border-top: solid 2px black;
    display: grid;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
}

.user form {
    margin: 1rem;
    width: 625px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    display: grid;
    grid-gap: .5rem;
}

form input, button, textarea {
    font-family: Roboto, Arial, sans-serif;
}

form label {
    text-align: left;
    padding-right: 1rem;
}

form input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.box {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
}

.question {
    margin-bottom: 20px;
}

.option {
    display: grid;
    grid-template-columns: 4% 96%;
    justify-items: left;
}

button {
    margin: 1rem;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background: darkgreen;
}

.grid-trip {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 5% 55%;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 10% 40%;
} 

.block-1 {
    grid-column: 1/3;
}

.block-1 {
    grid-row: 1/2;
    position: relative;
}

.block-1 img {
    width: 100%;
    height: 100%;
}

.block-1 h1 {
    width: 40%;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 30%;
    text-align: center;
    font-size: 80px;
    color: #fffb00;
    font-family: var(--heading-font);
}

.block-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: black;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    align-content: center;
}

.block-2 a {
    color: white;
}

.block-2 a:hover {
    color: var(--nav-hover-link-color);}

.block-3 {
    grid-row: 3/4;
}

.block-3 {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    margin-bottom: 5%;
}

.trips img {
    width: 300px;
    height: 200px;
}

.trips p {
    width: 300px;
}

.block-4 {
    grid-row: 2/4;
    grid-column: 2/3;
    background-color: var(--nav-hover-background-color);
    padding: 50px;
    height: 85%;
}

.block-4 h2, .block-4 p {
    color: white;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--secondary-color);
    border: 1.5px solid black
}

footer p {
    grid-column-start: 2;
}

.sociallinks {
    grid-column-start: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sociallinks img{
    width: 35px;
    height: 35px;
} 

